
RewriteEngine On


#  -----------  REESCRIBIMOS NUEVOS DIRECTORIOS ----------- #
# --- INDEX --- #
RewriteRule ^$ index.php [QSA,L]

# --- PAGINAS SOLICITDAS --- #
RewriteRule ^signup$ index.php?do=signup [QSA,L]
RewriteRule ^templates(\/|)$ index.php?do=templates [QSA,L]
RewriteRule ^feedbacks/new$ index.php?do=contact [QSA,L]
RewriteRule ^about/safety$ index.php?do=safety [QSA,L]
RewriteRule ^about/tos$ index.php?do=tos [QSA,L]
RewriteRule ^about/privacy(\/|)$ index.php?do=privacy [QSA,L]
RewriteRule ^about/logos$ index.php?do=logos [QSA,L]
RewriteRule ^signup/optional$ index.php?do=optional [QSA,L]
RewriteRule ^account/wall$ index.php?do=wall [QSA,L]
RewriteRule ^account/popular$ index.php?do=popular [QSA,L]
RewriteRule ^account/questions$ index.php?do=questions [QSA,L]
RewriteRule ^account/notifications/answers$ index.php?do=notify_answer [QSA,L]
RewriteRule ^remind/request$ index.php?do=request [QSA,L]
RewriteRule ^account/settings/profile$ index.php?do=settings&nav=profile [QSA,L]
RewriteRule ^account/settings/privacy$ index.php?do=settings&nav=privacy [QSA,L]
RewriteRule ^account/settings/design$ index.php?do=settings&nav=design [QSA,L]
RewriteRule ^account/settings/services$ index.php?do=settings&nav=services [QSA,L]

# --- ENLACES --- #
RewriteRule ^widgets/compartir(\/|)$ index.php?do=extra&act=compartir [QSA,L]
RewriteRule ^privacidad-de-datos(\/|)$ index.php?do=extra&act=privacidad-de-datos [QSA,L]
RewriteRule ^terminos-y-condiciones(\/|)$ index.php?do=extra&act=terminos-y-condiciones [QSA,L]
RewriteRule ^takedown-notice.php$ index.php?do=extra&act=takedown-notice [QSA,L]
RewriteRule ^denuncia-publica(\/|)$ index.php?do=extra&act=denuncia-publica [QSA,L]
RewriteRule ^protocolo(\/|)$ index.php?do=extra&act=protocolo [QSA,L]

# --- SOLICITUD AJAX --- #
RewriteRule ^ajax/([A-Za-z0-9_-]+)(\/|)$ ajax.php?file=$1&ajax=1 [QSA,L]
RewriteRule ^logout/ w_inc/ajax.php?file=login-salir.php [QSA,L]

# --- PERFIL --- #
RewriteRule ^([A-Za-z0-9_-]+)$ index.php?do=perfil&u_name=$1 [QSA,L]
RewriteRule ^([A-Za-z0-9_-]+)/$ index.php?do=perfil&u_name=$1 [QSA,L]
RewriteRule ^([A-Za-z0-9_-]+)/questions/([0-9]+)/reply$ index.php?do=questions&user=$1&quest_id=$2 [QSA,L]
RewriteRule ^([A-Za-z0-9_-]+)/answer/([0-9]+)(\/|)$ index.php?do=perfil&u_name=$1&answerid=$2 [QSA,L]
RewriteRule ^perfil/([A-Za-z0-9_-]+)$ index.php?do=perfil&u_name=$1 [QSA,L]
RewriteRule ^perfil/([A-Za-z0-9_-]+)/$ index.php?do=perfil&u_name=$1 [QSA,L]


<FilesMatch "\.(htaccess|ini|log|cfg)$">
Order Allow,Deny
Deny from all
</FilesMatch>

<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56___lsphp .php .php5 .phtml
</IfModule>

